<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    {% if title %}
    <title>{{ title }} - DaisyRec</title>
    {% else %}
    <title>DaisyRec</title>
    {% endif %}
</head>
<body>
    <div class="container" style="padding-top: 50px;">
        <!-- <h2 class='alert alert-info'> DaisyRec-v2.0 GUI Command Generator</h2> -->
        <h2 style="text-align: center;"> DaisyRec-v2.0 GUI Command Generator</h2>
        <!-- <ol class='breadcrumb'> 
            <li><a href="/tune_command">tune_command</a></li>
            <li><a href="/test_command">test_command</a></li>
        </ol> -->
        <!-- <ol> 
            <h3><li><a href="/tune_command">tune_command</a></li></h3>
            <h3><li><a href="/test_command">test_command</a></li></h3>
        </ol> -->
        <!-- <div style="text-align: center;">
            <ul style="display:flex; list-style:none;" > 
            <h3><li style="padding-right: 50pt;"><a href="/tune_command">tune_command</a></li></h3>
            <h3><li ><a href="/test_command">test_command</a></li></h3>
            </ul>
        </div> -->
        <div class="text-center">
            <h3 style="display:inline-block; margin-right: 20pt;"><a href="/tune_command">tune_command</a></h3>
            <h3 style="display: inline-block; "><a href="/test_command">test_command</a></li></h3>
        </div>
        <!-- <ol class='breadcrumb'>       
            <li>DaisyRec</li>
            <li><a href="/tune_command">tune_command</a></li>
            <li><a href="/test_command">test_command</a></li>
            <li><a href="/main">main</a></li>
            <li><a href="/hpo_tuner">hpo_tuner</a></li>
        </ol> -->
        <hr>
        <div id='bs'>
            <h2 class='alert alert-info'>Basic Settings</h2>
            <h5 style="color: blue;">&nbsp&nbsp&nbsp Place the mouse on * to get quick explaination; the detailed explanation of all parameters are available in the <a href="https://daisyrec.readthedocs.io/en/latest/index.html">DaisyRec-v2.0 documentation</a></h5>
            <form action="" method="post" novalidate="novalidate">
            
                <div class="form-group col-xs-6">
                    <label>optimization_metric</label>
                    <select class='form-control' id='optimization_metric'>
                        {% for sc in score_metric %}
                        <option value="{{sc.name}}">{{sc.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>hyperopt_trail</label>
                    <input type='text' class="form-control" id="hyperopt_trail" value='30'>
                </div>

                <div class="form-group col-xs-6">
                    <label>problem_type</label>
                    <select class='form-control' id='problem_type'>
                        {% for pt in problem_type %}
                        <option value="{{pt.name}}">{{pt.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>algo_name</label>
                    <select class='form-control' id='algo_name'>
                        {% for an in algo_name %}
                        <option id="{{an.name}}" value="{{an.name}}">{{an.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>dataset</label>
                    <select class='form-control' id='dataset'>
                        {% for dn in dataset_name %}
                        <option id="{{dn.name}}" value="{{dn.name}}">{{dn.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label title="the data pre-processing strategy">prepro*</label>
                    <select class='form-control' id='preprocess'>
                        {% for pm in preprocess_methods %}
                        <option id="{{pm.name}}" value="{{pm.name}}">{{pm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>test_method</label>
                    <select class='form-control' id='test_method'>
                        {% for tm in test_methods %}
                        <option id="{{tm.name}}" value="{{tm.name}}">{{tm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>val_method</label>
                    <select class='form-control' id='val_method'>
                        {% for vm in val_methods %}
                        <option id="{{vm.name}}" value="{{vm.name}}">{{vm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label title="in the range of (0,1), e.g., 0.2 means retaining 20% of the data as test set">test_size*</label> 
                    <input type='text' class="form-control" id="test_size" value='0.2'>
                </div>

                <div class="form-group col-xs-6">
                    <label title="in the range of (0,1), e.g., 0.1 means retaining 10% of the training set as validatiaon set">val_size*</label>
                    <!-- <label >Validation Size</label> -->
                    <input type='text' class="form-control" id="val_size" value='0.1' >
                </div>

                <div class="form-group col-xs-6">
                    <label>topk</label>
                    <input type='text' class="form-control" id="topk" value='50'>
                </div>

                <div class="form-group col-xs-6">
                    <label title="the fold number of cross-validation">fold_num*</label>
                    <input type='text' class="form-control" id="fold_num" value='5'>
                </div>

                <div class="form-group col-xs-6">
                    <label title="the number of candidate items used for ranking">cand_num*</label>
                    <input type='text' class="form-control" id="cand_num" value='1000'>
                </div>

                <div class="form-group col-xs-6">
                    <label>sample_method</label>
                    <select class='form-control' id='sample_method'>
                        {% for sm in sample_methods %}
                        <option id="{{sm.name}}" value="{{sm.name}}">{{sm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label title="in the range of (0,1); control the ratio of popularity sampling for the hybrid sampling strategy, e.g., for the hybrid sampling strategy uniform+low-pop, –sample_ratio=0.1 means 10% of the negative items are sampled via low-pop">sample_ratio*</label>
                    <input type='text' class="form-control" id="sample_ratio" value='0'>
                </div>

                <div class="form-group col-xs-6">
                    <label>init_method</label>
                    <!--<input type='text' class="form-control" id="init_method" value=''>-->
                    <select class='form-control' id='init_method'>
                        {% for im in weight_initializer %}
                        <option id="{{im.name}}" value="{{im.name}}">{{im.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group col-xs-6">
                    <label>optimizer</label>
                    <select class='form-control' id='optimizer'>
                        {% for op in optimizer %}
                        <option id="{{op.name}}" value="{{op.name}}">{{op.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group col-xs-6">
                    <label>early_stop</label>
                    <select class='form-control' id='early_stop'>
                        {% for es in early_stop %}
                        <option id="{{es.name}}" value="{{es.name}}">{{es.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>gpu</label>
                    <input type='text' class="form-control" id="gpu" value='0'>
                </div>
                <!-- <div class="form-group col-xs-6">
                    <label>Negative Sampling Number</label>
                    <input type='text' class="form-control" id="num_ng" value='0'>
                </div> -->
                <div class="form-group col-xs-6">
                    <label>loss_type</label>
                    <select class='form-control' id='loss_type'>
                        {% for lt in loss_types %}
                        <option id="{{lt.name}}" value="{{lt.name}}">{{lt.name}}</option>
                        {% endfor %}
                    </select>
                </div>            
            </form>
            <!-- <h5>&nbsp&nbsp&nbsp * represents you can place the mouse on the parameter to understand its meaning</h5> -->
            <div class="col-xs-12"><button class="btn btn-default btn-lg" id='bt1'>Submit</button></div>
        </div>

        <hr>
    </div>
    {% block content %}

    {% endblock %}
    <script>
        $(document).ready(function(){
            // --------- problem type event ---------
            if($('#problem_type').val() == 'pair') {
                    $('#multi-vae').hide()
                    $('#cdae').hide()
                    $('#itemknn').hide()
                    $('#pop').hide()
                    $('#slim').hide()
        
                    $('#CL (Cross-entropy Loss)').hide()
                    $('#BPR (BPR Loss)').show()
                    $('#TL (Top-1 Loss)').show()
                    $('#HL (Hinge Loss)').show()
                } else {
                    $('#multi-vae').show()
                    $('#cdae').show()
                    $('#itemknn').show()
                    $('#pop').show()
                    $('#slim').show()
        
                    $('#CL (Cross-entropy Loss)').show()
                    $('#BPR (BPR Loss)').hide()
                    $('#TL (Top-1 Loss)').hide()
                    $('#HL (Hinge Loss)').hide()
                }
        
                $('#problem_type').change(function(){
                    //point remove nothing
                    //pair remove vae cdae item2vec knn pop slim
                    if($('#problem_type').val() == 'pair') {
                        $('#multi-vae').hide()
                        $('#itemknn').hide()
                        $('#pop').hide()
                        $('#slim').hide()
                        $('#puresvd').hide()
        
                        $('#CL (Cross-entropy Loss)').hide()
                        $('#BPR (BPR Loss)').show()
                        $('#TL (Top-1 Loss)').show()
                        $('#HL (Hinge Loss)').show()
                    } 
                    else {
                        $('#multi-vae').show()
                        $('#itemknn').show()
                        $('#pop').show()
                        $('#slim').show()
                        $('#puresvd').show()
        
                        $('#CL (Cross-entropy Loss)').show()
                        $('#BPR (BPR Loss)').hide()
                        $('#TL (Top-1 Loss)').hide()
                        $('#HL (Hinge Loss)').hide()
                    }
                })
            // --------- weight initialize type event ---------
            if ($('#algo_name').val() == 'multi-vae'){
                $('#normal').hide()
                $('#uniform').hide()
                $('#xavier_normal').show()
                $('#xavier_uniform').show()
            }
                $('#algo_name').change(function(){
                    if($('#algo_name').val() == 'multi-vae'){
                        $('#normal').hide()
                        $('#uniform').hide()
                        $('#xavier_normal').show()
                        $('#xavier_uniform').show()
                    }else if($('#algo_name').val() == 'ngcf'){
                        $('#normal').hide()
                        $('#uniform').hide()
                        $('#xavier_normal').show()
                        $('#xavier_uniform').show()
                    }else if($('#algo_name').val() == 'mf' || $('#algo_name').val() == 'fm'){
                        $('#normal').show()
                        $('#uniform').show()
                        $('#xavier_normal').hide()
                        $('#xavier_uniform').hide()
                    }else if($('#algo_name').val() == 'nfm' || $('#algo_name').val() == 'neumf'){
                        $('#normal').show()
                        $('#uniform').hide()
                        $('#xavier_normal').show()
                        $('#xavier_uniform').show()
                    }else{
                        $('#normal').show()
                        $('#uniform').hide()
                        $('#xavier_normal').hide()
                        $('#xavier_uniform').hide()
                    }
                    
                })
            })
    </script>
</body>
</html>

