<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    {% if title %}
    <title>{{ title }} - DaisyRec</title>
    {% else %}
    <title>DaisyRec</title>
    {% endif %}
</head>
<body>
    <div class="container" style="padding-top: 50px;">
        <h2 style="text-align: center;"> DaisyRec-v2.0 GUI Command Generator</h2>

        <div class="text-center">
            <h3 style="display:inline-block; margin-right: 20pt;"><a href="/tune_command">tune_command</a></h3>
            <h3 style="display: inline-block; "><a href="/test_command">test_command</a></li></h3>
        </div>

        <div class="text-center">
            <h3 style="display:inline-block; margin-right: 20pt;">*We now have a new GUI command generator and it is available <a href="https://daisyrec.netlify.app/">here</a>.</h3>
        </div>

        <hr>
        <div id='bs'>
            <h2 class='alert alert-info'>Basic Settings</h2>
            <h5 style="color: blue;">&nbsp&nbsp&nbsp Place the mouse on * to get quick explaination; the detailed explanation of all parameters are available in the <a href="https://daisyrec.readthedocs.io/en/latest/index.html">DaisyRec-v2.0 documentation</a></h5>
            <form action="" method="post" novalidate="novalidate">
            
                <div class="form-group col-xs-6">
                    <label>optimization_metric</label>
                    <select class='form-control' id='optimization_metric'>
                        {% for sc in score_metric %}
                        <option value="{{sc.name}}">{{sc.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6" id="hyperopt_trail_form_id">
                    <label>hyperopt_trail</label>
                    <input type='text' class="form-control" id="hyperopt_trail" value='30'>
                </div>

                <div class="form-group col-xs-6">
                    <label>problem_type</label>
                    <select class='form-control' id='problem_type'>
                        {% for pt in problem_type %}
                        <option value="{{pt.name}}">{{pt.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>algo_name</label>
                    <select class='form-control' id='algo_name'>
                        {% for an in algo_name %}
                        <option id="{{an.name}}" value="{{an.name}}">{{an.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>dataset</label>
                    <select class='form-control' id='dataset'>
                        {% for dn in dataset_name %}
                        <option id="{{dn.name}}" value="{{dn.name}}">{{dn.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label title="the data pre-processing strategy">prepro*</label>
                    <select class='form-control' id='preprocess'>
                        {% for pm in preprocess_methods %}
                        <option id="{{pm.name}}" value="{{pm.name}}">{{pm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>test_method</label>
                    <select class='form-control' id='test_method'>
                        <option value="default_value_1" selected="selected">-- Please choose the Test Method --</option>
                        {% for tm in test_methods %}
                        <option id="{{tm.name.split(' ')[0]}}" value="{{tm.name}}">{{tm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label>val_method</label>
                    <select class='form-control' id='val_method'>
                        <option value="default_value_2" selected="selected">-- Please choose the Validate Method --</option>
                        {% for vm in val_methods %}
                        <option id="{{vm.name.split(' ')[0]}}" value="{{vm.name}}">{{vm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6" id="test_size_form_id">
                    <label title="in the range of (0,1), e.g., 0.2 means retaining 20% of the data as test set">test_size*</label> 
                    <input type='text' class="form-control" id="test_size" value=''>
                </div>

                <div class="form-group col-xs-6" id="val_size_form_id">
                    <label title="in the range of (0,1), e.g., 0.1 means retaining 10% of the training set as validatiaon set">val_size*</label>
                    <!-- <label >Validation Size</label> -->
                    <input type='text' class="form-control" id="val_size" value='' >
                </div>

                <div class="form-group col-xs-6" id="topk_form_id">
                    <label>topk</label>
                    <input type='text' class="form-control" id="topk" value='50'>
                </div>

                <div class="form-group col-xs-6" id="fold_num_form_id">
                    <label title="the fold number of cross-validation">fold_num*</label>
                    <input type='text' class="form-control" id="fold_num" value='5'>
                </div>

                <div class="form-group col-xs-6" id="cand_num_form_id">
                    <label title="the number of candidate items used for ranking">cand_num*</label>
                    <input type='text' class="form-control" id="cand_num" value='1000'>
                </div>

                <div class="form-group col-xs-6">
                    <label>sample_method</label>
                    <select class='form-control' id='sample_method'>
                        <option value="default_value_3" selected="selected">-- Please choose the Sample Method --</option>
                        {% for sm in sample_methods %}
                        <option id="{{sm.name.split(' ')[0]}}_" value="{{sm.name}}">{{sm.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6" id="sample_ratio_form_id">
                    <label title="in the range of (0,1); control the ratio of popularity sampling for the hybrid sampling strategy, e.g., for the hybrid sampling strategy uniform+low-pop, –sample_ratio=0.1 means 10% of the negative items are sampled via low-pop">sample_ratio*</label>
                    <input type='text' class="form-control" id="sample_ratio" value=''>
                </div>

                <div class="form-group col-xs-6">
                    <label>init_method</label>
                    <!--<input type='text' class="form-control" id="init_method" value=''>-->
                    <select class='form-control' id='init_method'>
                        {% for im in weight_initializer %}
                        <option id="{{im.name}}" value="{{im.name}}">{{im.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group col-xs-6">
                    <label>optimizer</label>
                    <select class='form-control' id='optimizer'>
                        {% for op in optimizer %}
                        <option id="{{op.name}}" value="{{op.name}}">{{op.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group col-xs-6">
                    <label>early_stop</label>
                    <select class='form-control' id='early_stop'>
                        {% for es in early_stop %}
                        <option id="{{es.name}}" value="{{es.name}}">{{es.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-xs-6" id="gpu_form_id">
                    <label>gpu</label>
                    <input type='text' class="form-control" id="gpu" value='0'>
                </div>

                <div class="form-group col-xs-6">
                    <label>loss_type</label>
                    <select class='form-control' id='loss_type'>
                        <option value="default_value_4" selected="selected">-- Please choose the Loss Type --</option>
                        {% for lt in loss_types %}
                        <option id="{{lt.name.split(' ')[0]}}" value="{{lt.name}}">{{lt.name}}</option>
                        {% endfor %}
                    </select>
                </div>            
            </form>

            <div class="col-xs-12"><button class="btn btn-default btn-lg" id='bt1'>Submit</button></div>
        </div>

        <hr>
    </div>
    <div id="aaa"></div>
    {% block content %}

    {% endblock %}
    <script>
        $(document).ready(function(){
            // --------- problem type event ---------
            if($('#problem_type').val() == 'point-wise') {
                    $('#BPR').hide()
                    $('#TL').hide()
                    $('#HL').hide()
            }
            
            // Disable input box
            $('#test_size').attr("Disabled", "Disabled")

            $('#test_method').change(function(){
                var methodSelector1 = $('#test_method').get(0).selectedIndex
                $('#test_method').get(0).selectedIndex = methodSelector1
                $('#val_method').get(0).selectedIndex = methodSelector1

                if($('#test_method').val() == 'tloo (time-aware leave-one-out)' || $('#test_method').val() == 'rloo (random leave-one-out)' || $('#test_method').find("option:selected").text() == '-- Please choose the Test Method --') {
                    $('#test_size').attr("Disabled", "Disabled")
                    $('#val_size').attr("Disabled", "Disabled")

                    $('#val_size').val("")
                    $('#test_size').val("")
                } else {
                    $('#test_size').attr("Disabled", false)
                    $('#val_size').attr("Disabled", false)
                }
            })

            $('#val_size').attr("Disabled", "Disabled")

            $('#val_method').change(function(){
                var methodSelector2 = $('#val_method').get(0).selectedIndex
                $('#val_method').get(0).selectedIndex = methodSelector2
                $('#test_method').get(0).selectedIndex = methodSelector2

                if($('#val_method').val() == 'tloo (time-aware leave-one-out)' || $('#val_method').val() == 'rloo (random leave-one-out)' || $('#val_method').find("option:selected").text() == '-- Please choose the Test Method --') {
                    $('#val_size').attr("Disabled", "Disabled")
                    $('#test_size').attr("Disabled", "Disabled")
                    
                    $('#val_size').val("")
                    $('#test_size').val("")
                } else {
                    $('#val_size').attr("Disabled", false)
                    $('#test_size').attr("Disabled", false)
                }
            })

            $('#sample_ratio').attr("Disabled", "Disabled")

            $('#sample_method').change(function(){
                if($('#sample_method').val() == 'uniform (uniformly sample)' || $('#sample_method').find("option:selected").text() == '-- Please choose the Sample Method --') {
                    $('#sample_ratio').attr("Disabled", "Disabled")
                    $('#sample_ratio').val("")
                } else {
                    $('#sample_ratio').attr("Disabled", false)
                }
            })

            $(function(){
                document.onkeydown = function(e){
                var ev = document.all ? window.event :e;
                if(ev.keyCode==13) {
                    //Set input range
                    if ($('#sample_ratio').val() > 1) {
                        $('#sample_ratio').val("1")
                    } else if ($('#sample_ratio').val() < 0) {
                        $('#sample_ratio').val("0")
                    }
                    $('#hyperopt_trail').val()
                    $('#test_size').val()
                    $('#val_size').val()
                    $('#topk').val()
                    $('#fold_num').val()
                    $('#cand_num').val()
                    $('#gpu').val()

                    $('#hyperopt_trail').blur()
                    $('#test_size').blur()
                    $('#val_size').blur()
                    $('#topk').blur()
                    $('#fold_num').blur()
                    $('#cand_num').blur()
                    $('#gpu').blur()
                    $('#sample_ratio').blur()
                }
                }
            });
        
            $('#problem_type').change(function(){
                //point remove nothing
                //pair remove vae cdae item2vec knn pop slim
                console.log("change")
                if($('#problem_type').val() == 'pair-wise') {
                    
                    $('#multi-vae').hide()
                    $('#itemknn').hide()
                    $('#mostpop').hide()
                    $('#slim').hide()
                    $('#puresvd').hide()
    
                    $('#CL').hide()
                    $('#SL').hide()
                    $('#BPR').show()
                    $('#TL').show()
                    $('#HL').show()
                } 
                else {
                    $('#multi-vae').show()
                    $('#itemknn').show()
                    $('#pop').show()
                    $('#slim').show()
                    $('#puresvd').show()
    
                    $('#CL').show()
                    $('#SL').show()
                    $('#BPR').hide()
                    $('#TL').hide()
                    $('#HL').hide()
                }
            })
            // --------- weight initialize type event ---------
            if ($('#algo_name').val() == 'multi-vae'){
                $('#normal').hide()
                $('#uniform').hide()
                $('#xavier_normal').show()
                $('#xavier_uniform').show()
            }
                $('#algo_name').change(function(){
                    if($('#algo_name').val() == 'multi-vae'){
                        $('#normal').hide()
                        $('#uniform').hide()
                        $('#xavier_normal').show()
                        $('#xavier_uniform').show()
                    }else if($('#algo_name').val() == 'ngcf'){
                        $('#normal').hide()
                        $('#uniform').hide()
                        $('#xavier_normal').show()
                        $('#xavier_uniform').show()
                    }else if($('#algo_name').val() == 'mf' || $('#algo_name').val() == 'fm'){
                        $('#normal').show()
                        $('#uniform').show()
                        $('#xavier_normal').hide()
                        $('#xavier_uniform').hide()
                    }else if($('#algo_name').val() == 'nfm' || $('#algo_name').val() == 'neumf'){
                        $('#normal').show()
                        $('#uniform').hide()
                        $('#xavier_normal').show()
                        $('#xavier_uniform').show()
                    }else{
                        $('#normal').show()
                        $('#uniform').hide()
                        $('#xavier_normal').hide()
                        $('#xavier_uniform').hide()
                    }
                    
                })
            })
    </script>
</body>
</html>

