{% extends 'base.html' %}

{% block content %}
    <div class="container hidden" id="specific_setting_div_test" style="padding-bottom: 20px; padding-top: 20px">
        <h2 class='alert alert-info'>Algorithm Specific Settings</h2>
        <input type="text" class="form-control hidden" id="param_list" value=""> <!--save algorithm specific parameters -->
        <form onsubmit="return false" id="param_setting">
        <div id='ass'>

        </div>
        <!-- <div class="col-xs-12"><button class="btn btn-default btn-lg" id="bt2">Generate</button></div> -->
        <div class="col-xs-12"><button class="btn btn-default btn-lg" id="bt2" type="submit">Generate</button></div>
        </form>
    </div>
    <div class="container hidden" id="test_command_div" style="padding-bottom: 50px;">
        <h2 class='alert alert-info'>main.py Script Command Result</h2>
        <div class="jumbotro">
            <textarea id='res' class="form-control" rows='8' style="resize: none"></textarea>
        </div>
    </div>

    <!-- script -->

    <script>
        function check_form(){
            for(var i=0; i < document.setting_form.elements.length; i++){
                if(document.setting_form.elements[i].value == ""){
                    alert("The specific settings cannot be null!");
                    document.setting_form.elements[i].focus();
                    return false;
                }
            }
            return true
        }
        $(document).ready(function(){
            $('#score_metric').parent().hide()
            $('#tune_epochs').parent().hide()
            // ----------------------------------------
            $('#bt1').click(function(){
                $('#specific_setting_div_test').removeClass("hidden")
                $('#test_command_div').removeClass("hidden")
                // get basic settings value 
                switch($('#algo_name').val()) {
                    case 'multi-vae':
                        param = ['batch_size', 'num_ng', 'dropout', 'lr', 'reg_1', 'reg_2', 'kl_reg']
                        $('#param_list').val(param)
                        $('#ass').empty()
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>batch_size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_ng</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="" pattern="[1-9]\\d*" placeholder="e.g., 5" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">dropout*</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers larger than 0.0">lr*</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">reg_1*</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">reg_2*</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>kl_reg</label>' + 
                                    '<input type="text" class="form-control" id="kl_reg" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>'
                        )
                        break
                    case 'cdae':
                        $('#ass').empty()
                        param = ['batch_size', 'num_ng', 'dropout', 'factors', 'reg_1', 'reg_2', 'lr']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>batch_size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_ng</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">dropout*</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers larger than 0.0">lr*</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l1*</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l2*</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="" required="required">' + 
                                '</div>'
                        )
                        break
                    case 'item2vec': 
                        break
                    case 'userknn':
                        break
                    case 'itemknn':
                        $('#ass').empty()
                        param = ['maxk']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>maxk</label>' +
                                    '<input type="text" class="form-control" id="maxk" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>')
                        break
                    case 'slim':
                        $('#ass').empty()
                        param = ['alpha', 'elastic']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>alpha</label>' +
                                    '<input type="text" class="form-control" id="alpha" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>' +
                                '<div class="form-group col-xs-6">' +
                                    '<label>elastic</label>' +
                                    '<input type="text" class="form-control" id="elastic" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>')
                        break
                    case 'mostpop':
                        $('#ass').empty()
                        param = ['pop_n']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>pop_n</label>' +
                                    '<input type="text" class="form-control" id="pop_n" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>')
                        break
                    case 'mf': 
                        $('#ass').empty()
                        param = ['batch_size', 'num_ng', 'factors', 'lr', 'reg_1', 'reg_2']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>batch_size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_ng</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="" pattern="[1-9]\\d*" placeholder="e.g., 5" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers larger than 0.0">lr*</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0" >l1*</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l2*</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' 
                        )     
                        break 
                    case 'fm':
                        $('#ass').empty()
                        param = ['batch_size', 'num_ng', 'factors', 'lr', 'reg_1', 'reg_2']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>batch_size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_ng</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="" pattern="[1-9]\\d*" placeholder="e.g., 5" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers larger than 0.0">lr*</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0" >l1*</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0" >l2*</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' 
                        )    
                        break
                    case 'neumf':
                        $('#ass').empty()
                        param = ['batch_size', 'num_ng', 'factors', 'num_layers', 'dropout', 'lr', 'reg_1', 'reg_2']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>batch_size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_ng</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="" pattern="[1-9]\\d*" placeholder="e.g., 5" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_layers</label>' +
                                    '<input type="text" class="form-control" id="num_layers" value="" pattern="[1-9]\\d*" placeholder="e.g., 3" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">dropout*</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers larger than 0.0">lr*</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l1*</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l2*</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>'
                        )    
                        break
                    case 'afm':
                        break
                    case 'nfm':
                        $('#ass').empty()
                        param = ['batch_size', 'num_ng', 'factors', 'num_layers', 'dropout', 'lr', 'reg_1', 'reg_2']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>batch_size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_ng</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="" pattern="[1-9]\\d*" placeholder="e.g., 5" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_layers</label>' +
                                    '<input type="text" class="form-control" id="num_layers" value="" pattern="[1-9]\\d*" placeholder="e.g., 4" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">dropout*</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers larger than 0.0">lr*</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l1*</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l2*</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>'
                        )    
                        break
                    case 'ngcf':
                        $('#ass').empty()
                        param = ['num_ng', 'factors', 'node_dropout', 'mess_dropout', 'batch_size', 'lr', 'reg_1', 'reg_2']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>batch_size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_ng</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="" pattern="[1-9]\\d*" placeholder="e.g., 5" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>num_layers</label>' +
                                    '<input type="text" class="form-control" id="node_dropout" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">mess_dropout*</label>' +
                                    '<input type="text" class="form-control" id="mess_dropout" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">node_dropout*</label>' +
                                    '<input type="text" class="form-control" id="mess_dropout" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers larger than 0.0">lr*</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l1*</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label title="should be float numbers, e.g., 0.0 instead of 0">l2*</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="" pattern="[0-9]\\d*.\\d*|0.\\d*[0-9]\\d*" placeholder="e.g., 0.1" required="required">' + 
                                '</div>'
                        )    
                    case 'deepfm':
                        break
                    case 'puresvd':
                        $('#ass').empty()
                        param = ['factors']
                        $('#param_list').val(param)
                        $('#ass').append(
                                '<div class="form-group col-xs-6">' +
                                    '<label>factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="" pattern="[1-9]\\d*" placeholder="e.g., 32" required="required">' +
                                '</div>')
                        break
                }
                return 
            })


            $('#bt2').click(function() {
                // if(!check_form()){
                //     return
                // }
                var empty_is_valid = true
                algo_parameters = $('#param_list').val().split(',')
                for(var i=0; i < algo_parameters.length; i++){
                    if($('#' + algo_parameters[i]).val() == ""){
                        empty_is_valid = empty_is_valid && false
                    }
                }  
                base = 'python main.py --epochs=50'
                tmp = $('#problem_type').val()
                tmp = tmp.split('-')[0]
                base += ' --problem_type=' + tmp
                tmp = $('#algo_name').val()
                base += ' --algo_name=' + tmp
                tmp = $('#dataset').val()
                base += ' --dataset=' + tmp
                tmp = $('#preprocess').val()
                base += ' --prepro=' + tmp
                tmp = $('#topk').val()
                base += ' --topk=' + tmp
                tmp = $('#test_method').val()
                tmp = tmp.split(' ')[0]
                base += ' --test_method=' + tmp
                tmp = $('#val_method').val()
                tmp = tmp.split(' ')[0]
                base += ' --val_method=' + tmp
                tmp = $('#test_size').val()
                base += ' --test_size=' + tmp
                tmp = $('#val_size').val()
                base += ' --val_size=' + tmp
                tmp = $('#fold_num').val()
                base += ' --fold_num=' + tmp
                tmp = $('#cand_num').val()
                base += ' --cand_num=' + tmp
                tmp = $('#sample_method').val()
                tmp = tmp.split(' ')[0]
                base += ' --sample_method=' + tmp
                tmp = $('#sample_ratio').val()
                base += ' --sample_ratio=' + tmp
                // tmp = $('#init_method').val()
                // base += ' --init_method=' + tmp
                tmp = $('#gpu').val()
                base += ' --gpu=' + tmp
                tmp = $('#loss_type').val()
                tmp = tmp.split(' ')[0]
                base += ' --loss_type=' + tmp

                tmp = $('#init_method').val()
                base += ' --init_method=' + tmp

                tmp = $('#optimizer').val()
                base += ' --optimizer=' + tmp

                tmp = $('#early_stop').val()
                if(tmp =='false'){
                    base += ' --early_stop'
                }

                switch($('#algo_name').val()) {
                    case 'multi-vae':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        tmp = $('#kl_reg').val()
                        base += ' --kl_reg=' + tmp
                        break
                    case 'cdae':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'item2vec':
                        break
                    case 'userknn':
                        break
                    case 'itemknn':
                        tmp = $('#maxk').val()
                        base += ' --maxk=' + tmp
                        break
                    case 'slim':
                        tmp = $('#alpha').val()
                        base += ' --alpha=' + tmp
                        tmp = $('#elastic').val()
                        base += ' --elastic=' + tmp
                        break
                    case 'mostpop':
                        tmp = $('#maxk').val()
                        base += ' --maxk=' + tmp
                        break
                    case 'mf':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'fm':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'neumf':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#num_layers').val()
                        base += ' --num_layers=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'afm':
                        break
                    case 'nfm':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#num_layers').val()
                        base += ' --num_layers=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'deepfm':
                        break
                    case 'puresvd':
                        tmp = $('#puresvd').val()
                        base += ' --puresvd=' + tmp
                        break
                    case 'ngcf':
                    tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#node_dropout').val()
                        base += ' --node_dropout=' + tmp
                        tmp = $('#mess_dropout').val()
                        base += ' --mess_dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                }
                if (empty_is_valid){
                    $('#res').val(base)
                }
                

            })

        })
    </script>

{% endblock %}
