{% extends 'base.html' %}

{% block content %}
<div class="container hidden" id="specific_setting_div_tune" style="padding-bottom: 20px; padding-top: 20px">
    <h2 class='alert alert-info'>Algorithm Specific Settings</h2>
    <h3>Select algorithm-specific hyper-parameters that need to be tuned</h3>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="maxk" value="maxk"> maxk
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="alpha" value="alpha" >alpha
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="elastic" value="elastic" > elastic
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="batch_size" value="batch_size"> batch_size
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="dropout" value="dropout"> dropout
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="node_dropout" value="node_dropout"> node_dropout
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="mess_dropout" value="mess_dropout"> mess_dropout
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="factors" value="factors"> factors
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="lr" value="lr"> lr
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="num_layers" value="num_layers"> num_layers
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="num_ng" value="num_ng" > num_ng
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="reg_1" value="reg_1" > reg_1
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="reg_2" value="reg_2" > reg_2
        </label>
        <label class="checkbox-inline col-xs-3">
            <input type="checkbox" id="kl_reg" value="kl_reg" > kl_reg
        </label>
    <form onsubmit="return false">
    <div id='holder'> 

    </div>
    <div class="col-xs-12">
        <button class="btn btn-default btn-lg" id="bt2">Submit</button>
        <button class="btn btn-primary btn-lg hidden" id="bt3" type="submit">Generate</button>
    </div>
    </form>
</div>
<div class="container hidden" id="tune_command_div" style="padding-bottom: 50px;">
    <h2 class='alert alert-info'>hpo_tuner.py Script Command Result</h2>
    <div class="jumbotro">
        <textarea id='res' class="form-control" rows='8' style="resize: none"></textarea>
    </div>
</div>
<div class="col-xs-12">
    <button class="btn btn-default btn-lg hidden" id="bt4">Restart</button>
</div>

<script>
    var int_list = ["batch_size", "factors", "num_layers", "num_ng", "maxk" ];
    var selected_list = []

    function contain(str, substr) {
        return new RegExp(substr).test(str);
    }

    function check_param() {
        var param_list = new Array()
        check_list = [
            "batch_size", "dropout", "factors",
            "lr", "num_layers", "num_ng",
            "reg_1", "reg_2", "kl_reg", "maxk",
            "node_dropout", "mess_dropout", "alpha", "elastic"
        ]
        for(i = 0;i < check_list.length;i++) {
            if($('#' + check_list[i]).is(":checked")) {
                param_list.push(check_list[i])
            }
        }

        return param_list
    }

    function add_param_info(param_name, int_list) {
        if (int_list.indexOf(param_name) > -1){
            $('#holder').append(
            '<h3 class="col-xs-12">' + param_name + '</h3>' +
            '<div id="'+ param_name +'_div"><div class="form-group col-xs-3"><label>Type of Parameter</label>' +
            '<select class="form-control" id="' + param_name + '_tp">' +
            '<option id="1" value="1">int</option><option id="2" value="2">int choice</option></select></div>' +
            '<div class="form-group col-xs-3"><label title="could be a small value but cannot be 0">Min. Value*</label>' +
            '<input class="form-control" type="text" id="' + param_name + '_min" pattern="[1-9]\\d*" placeholder="e.g., 1" required="required"></div>' +
            '<div class="form-group col-xs-3"><label>Max. Value</label>' +
            '<input class="form-control" type="text" id="' + param_name + '_max" pattern="[1-9]\\d*" placeholder="e.g., 10" required="required"></div>' +
            '<div class="form-group col-xs-3"><label>step size</label>' +
            '<input class="form-control" type="text" id="' + param_name + '_sp" pattern="[1-9]\\d*" placeholder="e.g., 1" required="required"></div></div>')
        }else{
            $('#holder').append(
            '<h3 class="col-xs-12">' + param_name + '</h3>' +
            '<div id="'+ param_name +'_div"><div class="form-group col-xs-3"><label>Type of Parameter</label>' +
            '<select class="form-control" id="' + param_name + '_tp">' +
            '<option id="1" value="1">float</option><option id="2" value="2">float choice</option></select></div>' +
            '<div class="form-group col-xs-3"><label title="could be a small value but cannot be 0">Min. Value*</label>' +
            '<input class="form-control" type="text" id="' + param_name + '_min" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 0.1" required="required"></div>' +
            '<div class="form-group col-xs-3"><label>Max. Value</label>' +
            '<input class="form-control" type="text" id="' + param_name + '_max" pattern="[1-9]\\d*.\\d*|0.\\d*[1-9]\\d*" placeholder="e.g., 1.0" required="required"></div>')
        }
        
    }


    $(document).ready(function(){
        $('#bt1').click(function(){
            $('#specific_setting_div_tune').removeClass("hidden")
            $('#tune_command_div').removeClass("hidden")
            switch($('#algo_name').val()) {
                case 'multi-vae':
                    $('#batch_size').parent().show()
                    $('#dropout').parent().show()
                    $('#factors').parent().hide()
                    $('#lr').parent().show()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().hide()
                    $('#reg_1').parent().show()
                    $('#reg_2').parent().show()
                    $('#kl_reg').parent().show()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'cdae':
                    $('#batch_size').parent().show()
                    $('#dropout').parent().show()
                    $('#factors').parent().show()
                    $('#lr').parent().show()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().hide()
                    $('#reg_1').parent().show()
                    $('#reg_2').parent().show()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'item2vec':
                    break
                case 'userknn':
                    break
                case 'itemknn':
                    $('#batch_size').parent().hide()
                    $('#dropout').parent().hide()
                    $('#factors').parent().hide()
                    $('#lr').parent().hide()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().hide()
                    $('#reg_1').parent().hide()
                    $('#reg_2').parent().hide()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().show()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    break
                case 'slim':
                    $('#batch_size').parent().hide()
                    $('#dropout').parent().hide()
                    $('#factors').parent().hide()
                    $('#lr').parent().hide()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().hide()
                    $('#reg_1').parent().hide()
                    $('#reg_2').parent().hide()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().show()
                    $('#elastic').parent().show()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'pop':
                    break
                case 'mf':
                    $('#batch_size').parent().show()
                    $('#dropout').parent().hide()
                    $('#factors').parent().show()
                    $('#lr').parent().show()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().show()
                    $('#reg_1').parent().show()
                    $('#reg_2').parent().show()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'fm':
                    $('#batch_size').parent().show()
                    $('#dropout').parent().hide()
                    $('#factors').parent().show()
                    $('#lr').parent().show()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().show()
                    $('#reg_1').parent().show()
                    $('#reg_2').parent().show()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'neumf':
                    $('#batch_size').parent().show()
                    $('#dropout').parent().show()
                    $('#factors').parent().show()
                    $('#lr').parent().show()
                    $('#num_layers').parent().show()
                    $('#num_ng').parent().show()
                    $('#reg_1').parent().show()
                    $('#reg_2').parent().show()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'afm':
                    break
                case 'nfm':
                    $('#batch_size').parent().show()
                    $('#dropout').parent().show()
                    $('#factors').parent().show()
                    $('#lr').parent().show()
                    $('#num_layers').parent().show()
                    $('#num_ng').parent().show()
                    $('#reg_1').parent().show()
                    $('#reg_2').parent().show()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'deepfm':
                    break
                case 'puresvd':
                    $('#batch_size').parent().hide()
                    $('#dropout').parent().hide()
                    $('#factors').parent().show()
                    $('#lr').parent().hide()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().hide()
                    $('#reg_1').parent().hide()
                    $('#reg_2').parent().hide()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().hide()
                    $('#mess_dropout').parent().hide()
                    $('#holder').empty()
                    break
                case 'ngcf':
                    $('#batch_size').parent().show()
                    $('#dropout').parent().hide()
                    $('#factors').parent().show()
                    $('#lr').parent().show()
                    $('#num_layers').parent().hide()
                    $('#num_ng').parent().show()
                    $('#reg_1').parent().show()
                    $('#reg_2').parent().show()
                    $('#kl_reg').parent().hide()
                    $('#maxk').parent().hide()
                    $('#alpha').parent().hide()
                    $('#elastic').parent().hide()
                    $('#node_dropout').parent().show()
                    $('#mess_dropout').parent().show()
                    $('#holder').empty()
            }

        })


        $('#bt2').click(function() {
                param_list = check_param()
                $('#bt3').removeClass('hidden')
                $('#holder').empty()
                for(i = 0;i < param_list.length;i++) {
                add_param_info(param_list[i], int_list)
                }
                
                for (i=0; i<param_list.length; i++){
                    console.log(i)
                    $('#' + param_list[i] + '_tp').change(function(){
                        console.log("change")
                        if($(this).children('option:selected').val() == 2){
                            console.log($(this).parent().parent().attr('id'))
                            var parent_id = $(this).parent().parent().attr('id')
                            if(parent_id.split('_')[1]=='div'){
                                prefix_name = parent_id.split('_')[0]
                            }
                            else{
                                prefix_name = parent_id.split('_')[0] + '_' + parent_id.split('_')[1]
                            }
                            $('#'+ prefix_name + '_min').parent().hide()
                            $('#'+ prefix_name + '_max').parent().hide()
                            $('#'+ prefix_name + '_sp').parent().hide()
                            // $('#'+ parent_id).empty()
                            if ($('#' + prefix_name + '_choice').attr('id') == null){
                                // console.log($('#' + prefix_name + '_tp').find("option:selected").text())
                                if($('#' + prefix_name + '_tp').find("option:selected").text() == "int choice"){
                                    $('#'+ parent_id).append('<div class="form-group col-xs-3"><label>Choice set</label>' +
                                                        '<input class="form-control" type="text" id="' + prefix_name + '_choice" pattern="^\\d+(,\\d+)*$"'+ 
                                                        'placeholder="e.g., 1,2,3" required="required"></div>')
                                }
                                else{
                                    $('#'+ parent_id).append('<div class="form-group col-xs-3"><label>Choice set</label>' +
                                                        '<input class="form-control" type="text" id="' + prefix_name + '_choice" pattern="^(\\d*\.*\\d*,?)+\\d$"' + 
                                                        'placeholder="e.g., 0.1,0.2,0.3" required="required"></div>')
                                }
                                
                            }
                            else{
                                $('#'+ prefix_name + '_choice').parent().show()
                            }
                            
                             
                        }
                        else if($(this).children('option:selected').val() == 1){
                            console.log($(this).parent().parent().attr('id'))
                            var parent_id = $(this).parent().parent().attr('id')
                            if(parent_id.split('_')[1] == 'div'){
                                prefix_name = parent_id.split('_')[0]
                            }else{
                                prefix_name = parent_id.split('_')[0] + '_' + parent_id.split('_')[1]
                            }
                            $('#'+ prefix_name + '_min').parent().show()
                            $('#'+ prefix_name + '_max').parent().show()
                            $('#'+ prefix_name + '_sp').parent().show()
                            $('#'+ prefix_name + '_choice').parent().hide()
                            
                             
                        }
                    })
                }          
        })
        
        // for (i=0; i<selected_list.length; i++){
        //     console.log(i)
        //     $('#' + param_list[i]).change(function(){
        //         console.log("change")
        //         if($(this).children('option:selected').val() == 2){
        //             console.log("selected")
        //             $('#holder').remove($('#'+ param_list[i] + '_min').parent())
        //             $('#holder').remove($('#'+ param_list[i] + '_max').parent())
        //             $('#holder').remove($('#'+ param_list[i] + '_sp').parent())
        //         }
        //     })
        // }


        $('#bt3').click(function() {
            base = 'python hpo_tuner.py'
            tmp = $('#optimization_metric').val()
            base += ' --optimization_metric=' + tmp
            tmp = $('#hyperopt_trail').val()
            base += ' --hyperopt_trail=' + tmp
            tmp = $('#problem_type').val()
            base += ' --problem_type=' + tmp
            tmp = $('#algo_name').val()
            base += ' --algo_name=' + tmp
            tmp = $('#dataset').val()
            base += ' --dataset=' + tmp
            tmp = $('#preprocess').val()
            base += ' --prepro=' + tmp
            tmp = $('#topk').val()
            base += ' --topk=' + tmp
            tmp = $('#test_method').val()
            tmp = tmp.split(' ')[0]
            base += ' --test_method=' + tmp
            tmp = $('#val_method').val()
            tmp = tmp.split(' ')[0]
            base += ' --val_method=' + tmp
            tmp = $('#test_size').val()
            base += ' --test_size=' + tmp
            tmp = $('#val_size').val()
            base += ' --val_size=' + tmp
            tmp = $('#fold_num').val()
            base += ' --fold_num=' + tmp
            tmp = $('#cand_num').val()
            base += ' --cand_num=' + tmp
            tmp = $('#sample_method').val()
            tmp = tmp.split(' ')[0]
            base += ' --sample_method=' + tmp
            tmp = $('#sample_ratio').val()
            base += ' --sample_ratio=' + tmp
            // tmp = $('#init_method').val()
            // base += ' --init_method=' + tmp
            tmp = $('#gpu').val()
            base += ' --gpu=' + tmp

            tmp = $('#loss_type').val()
            tmp = tmp.split(' ')[0]
            base += ' --loss_type=' + tmp

            tmp = $('#init_method').val()
            base += ' --init_method=' + tmp

            tmp = $('#optimizer').val()
            base += ' --optimizer=' + tmp

            tmp = $('#early_stop').val()
            if(tmp =='false'){
                base += ' --early_stop'
            }

            param_dict = {}

            param_list = check_param()
            var empty_is_valid = true
            var data_is_valid = true
            for(i = 0;i < param_list.length;i++) {
                pn = param_list[i]
                console.log(pn)
                tp = $('#' + pn + '_tp').find("option:selected").text()

                if(contain(tp, 'choice')){
                    if(contain(tp, 'int')) {
                        // min = $('#' + pn + '_min').val().trim()
                        // max = $('#' + pn + '_max').val().trim()
                        // if(min == "" || max == ""){
                        //     empty_is_valid = empty_is_valid && false
                        // }
                        // if(!(/^\d+(,\d+)*$/.test(min) && /^\d+(,\d+)*$/.test(max))){
                        //     data_is_valid = data_is_valid && false
                        // }
                        // min = parseInt(min)
                        // max = parseInt(max)
                        // if(min > max){
                        //     empty_is_valid = empty_is_valid && false
                        //     alert("Min value must be less than Max value.")
                        // }
                        cs = $('#' + pn + '_choice').val().trim()
                        if(/^\d+(,\d+)*$/.test(cs)){
                            fnl_cs = $('#' + pn + '_choice').val().split(',')
                            for(j = 0;j < fnl_cs.length;j++){
                                fnl_cs[j] = parseInt(fnl_cs[j].trim())
                            }
                        }
                        else{
                            data_is_valid = data_is_valid && false
                        }
                        if(cs == ""){
                            empty_is_valid = empty_is_valid && false
                        }
                        param_dict[pn] = [fnl_cs, 'choice']
                    } else {
                        // min = $('#' + pn + '_min').val().trim()
                        // max = $('#' + pn + '_max').val().trim()
                        // if(min == "" || max == ""){
                        //     empty_is_valid = empty_is_valid && false
                        // }
                        // if(!(/^(\d*\.*\d*,?)+\d$/.test(min) && /^(\d*\.*\d*,?)+\d$/.test(max))){
                        //     data_is_valid = data_is_valid && false
                        // }
                        // min = parseFloat(min)
                        // max = parseFloat(max)
                        // if(min > max){
                        //     empty_is_valid = empty_is_valid && false
                        //     alert("Min value must be less than Max value.")
                        // }
                        cs = $('#' + pn + '_choice').val().trim()
                        if(/^(\d*\.*\d*,?)+\d/.test(cs)){
                            fnl_cs = $('#' + pn + '_choice').val().split(',')
                            for(j = 0;j < fnl_cs.length;j++){
                                fnl_cs[j] = parseFloat(fnl_cs[j].trim())
                            }
                        }
                        if(cs == ""){
                            empty_is_valid = empty_is_valid && false
                        }
                        param_dict[pn] = [fnl_cs, 'choice']
                    }
                } else {
                    if(contain(tp, 'int')){
                        min = $('#' + pn + '_min').val().trim()
                        max = $('#' + pn + '_max').val().trim()
                        if(min == "" || max == ""){
                            empty_is_valid = empty_is_valid && false
                        }
                        if(!(/[1-9]\d*/.test(min) && /[1-9]\d*/.test(max))){
                            data_is_valid = data_is_valid && false
                        }
                        min = parseInt(min)
                        max = parseInt(max)
                        if(min > max){
                            empty_is_valid = empty_is_valid && false
                            alert("Min value must be less than Max value.")
                        }
                        sp = $('#' + pn + '_sp').val().trim()
                        if(sp == ""){
                            empty_is_valid = empty_is_valid && false
                        }
                        if(!(/[1-9]\d*/.test(sp))){
                            data_is_valid = data_is_valid && false
                        }
                        param_dict[pn] = [min, max, parseFloat(sp), 'int']
        
                    } else {
                        min = $('#' + pn + '_min').val()
                        max = $('#' + pn + '_max').val()
                        if(min == "" || max == ""){
                            empty_is_valid = empty_is_valid && false
                        }
                        if(!(/[1-9]\d*.\d*|0.\d*[1-9]\d*/.test(min) && /[1-9]\d*.\d*|0.\d*[1-9]\d*/.test(max))){
                            data_is_valid = data_is_valid && false
                        }
                        min = parseFloat(min)
                        max = parseFloat(max)
                        if(min > max){
                            empty_is_valid = empty_is_valid && false
                            alert("Min value must be less than Max value.")
                        }
                        param_dict[pn] = [min, max, 0, 'float']
                    }
                }
            }

            param_dict_str = JSON.stringify(param_dict)
            base += ' --hyperopt_pack=' + "'''" + param_dict_str + "'''"
            if(empty_is_valid && data_is_valid){
                $('#res').val(base)
            }
            // window.event.returnValue = false
        })

    })
</script>
{% endblock %}